extends ../layout

block content
	h2 user.friendlyName
	div(class='avatar')
	h4 Reservations
	table(id='reservations-table').table
		thead
			tr
				th #
				th Company
				th Plan
				th Table
				th Date
			each res, ind in reservations
				tr
					td 
						a(href='/reservations/id')= ind
					td
						p= res.company
					td
						p= res.plan
					td
						p= res.date
