extends layout

block head
	link(href='/css/main.css' rel='stylesheet')
block content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat .Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident sunt in culpa qui officia deserunt mollit anim id est laborum.
	div(class='schema-container')
		svg
	div(class='menu-bar')
		button(class='btn-save-schema btn btn-primary') Save
		button(class='btn-export-schema btn btn-primary') Export
	script(src='/js/jquery-2.2.2.min.js')
	script(src='/js/snap.svg.js')
	script(src='/js/schema.js')
	script.
		window.createSchema(!{JSON.stringify(company)}, !{JSON.stringify(plan)});