.schema-container {
	display: inline-block;
	border: 1px solid #1E90FF;
	margin: auto;
	width: 70%;
	height: 500px;
}

.schema-info {
	float: right;
	width: 25%;	
}

.schema-table {
	fill: transparent;
	stroke: #900000;
}

.profile {
	position: relative;
}

.avatar {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 200px;
	border: 1px solid red;
}