extends ../layout

block content
	if (plans.length)
		ul
			- for (var i = 0; i < plans.length; i++) 
				li 
					a(href='/plan?id=' + plans[i].id)= plans[i].id
	else 
		a(href='/plan/create') Create new