extends ../layout

block head
	script(src="/js/company.js")

block content
	if edit
		form(role='form')
			h2.form-heaing= company.name
			.form-group
				input(type='text' name='name' placeholder='Company name' value='' + company.name)

	.control-panel
		button(type='button' class='btn btn-primary btn-md' onclick='window.location.href="/company/home?edit=true"') Edit
		button(type='button' class='btn btn-primary btn-md' onclick='window.location.href="/company/reservations"') Reservations
	div(id='' + company._id).profile
		h2= company.name
		div(class='avatar')
			img(src='\\logos\\'+company.logo alt='avatar' width='200' height='200').img-circle

